$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/bg-desktop.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Violet;
    @media only screen and(max-width:600px) {
        background-image: url(../images/bg-mobile.svg);
        background-size: 100%;
        background-position: top center;
    }
}
main{
    margin: 50px 100px;
    @media only screen and(max-width:600px) {
        margin-left: 30px;
        margin-right: 30px;
    }
}
header{
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    
    img{
        @media only screen and(max-width:600px) {
            width: 100px;
        }
    }
}
section{
    display: flex;
    @media only screen and(max-width:980px) {
        display: block;
    }
    .col-1{
        @media only screen and(max-width:1130px) {
            display: flex;
            justify-content: center;
        }
        img{
            width: 600px;
            height: 400px;

            @media only screen and(max-width:1220px) {
                width: 500px;
                height: 300px;
            }
            @media only screen and(max-width:1130px) {
                width: 400px;
                height: 300px;
            }
            @media only screen and(max-width:600px) {
                width: 300px;
                height: 200px;
            }
        }
    }
    .col-2{
        margin-top: 20px;
        margin-left: 50px;
        color: white;
        position: relative;
        @media only screen and(max-width:1220px) {
            margin-top: -10px;
        }
        @media only screen and(max-width:980px) {
            width: 400px;
            text-align: center;
            margin: 0 auto;
        }
        @media only screen and(max-width:600px) {
            width: 300px;
        }
        h1{
            font-size: 2rem;
            margin-top: 15px;
            padding-right: 100px;
            @media only screen and(max-width:1130px) {
                font-size: 1.5rem;
            }
            @media only screen and(max-width:980px) {
                margin-top: 80px;
                padding: 0;
            }
        }
        p{
            margin-top: 20px;
        }
        button{
            width: 170px;
            height: 45px;
            border: none;
            border-radius: 40px; 
            margin-top: 20px;
            color: $Violet;
            cursor: pointer;
            outline: none;
            box-shadow: 5px 3px 5px hsl(0, 0, 0, .5) ;       
        
            &:hover{
                background-color: $Soft-Magenta;
                color: white;
            }

            @media only screen and(max-width:980px) {
                margin-bottom: 60px;
                width: 200px;
            }
        }
    }
    .social-icons{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: -50px;
        @media only screen and(max-width:980px) {
            right: 50%;
            transform: translateX(+50%);
        }
        ul{
            list-style: none;
            display: flex;
            li{
                font-size:1.2rem;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: 1px solid white;
                border-radius: 100%;
                cursor: pointer;

                &:hover{
                    border-color: $Soft-Magenta;
                    color: $Soft-Magenta;
                }
            }
        }
    }
}
footer{
    margin-top: 50px;
    @media only screen and(max-width:980px) {
        padding-top: 40px;
    }
}